<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	<script language="javascript" type="text/javascript">
		let url = '{{ url }}';
		function send() {
			axios({
				url: '/read/',
				method: 'POST',
				data: {
				    url: url
				}
			}).then(function (result) {
				console.log(result)
            }).catch(function (error) {
				console.log(error)
            })
        }
        send();
        {#window.location.href="{{ url }}";#}
	</script>
</head>
<body>
    ASDF
</body>
</html>